*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #000;
    background-color:  #edf2f9;
    height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-head{
    color: #31344b;
    font-size: 20px;
    margin-left: 40px;
}
.row{
    background: aqua;
    width: 80%;
    display: flex;
}
.left-column{
    box-shadow: 0 7px 14px 0 rgba(65, 69, 88, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
    background-color: #ecf0f3;
    color: #a0a5a8;
    width: 20%;
    background-repeat: no-repeat;
    justify-items: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.row .left-column .button {
    background-color: #ecf0f3;
    box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9;
    padding: 20px 40px;
    border: none;
    width: 150px;
    height: 50px;
    margin-top: 20px;
    cursor: pointer;
}
.row1{
    width: 80%;
}
.row1 .right-column .head-content{
    padding: 20px;
    border: 1px solid #e9ecef;
    border-left-width: 5px;
    border-left-color: rgba(255,193,7,0.5);
    border-radius: .25rem;
    background: #fff;
    color: #31344b;
    box-shadow: -3px -3px 7px #fff, 3px 3px 5px #ceced1;
    margin: 10px 70px;
    margin-bottom: 40px;
    width: 90%;
}
.bai1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bai1 .content-bai1{
    padding: 40px;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #e9ecef;
    border-left-width: 5px;
    border-radius: 5px;
    font-size: 20px;
    background: #fff;
    box-shadow: -3px -3px 7px #fff, 3px 3px 5px #ceced1;
    border-left-color: #5bc0de
}
.bai1 .content-bai1 b{
    font-weight: 600;
}

.bai1 .content-bai1 ul{
    margin-left: 40px;
}
form .input input {
    letter-spacing: 0.25px;
    border: none;
    outline: 0;
    padding: 10px 20px;
    background-color: #ecf0f3;
    transition: .25s;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 4px #d1d9e6, -2px -2px 4px #f9f9f9;
    margin-left: 40px;
}
form .input .btn{
    background: rgb(0, 0, 203);
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    font-weight: 600;
}
form .input .result {
    width: 90%;
    height: 50px;
    background: #dde0e3;
}
form .input .btn:hover{
    color: #f9f9f9;
    box-shadow: 6px 6px 10px #d1d9e6, -6px -6px 10px #f9f9f9;
    transform: scale(.985);
    transition: .25s
}
/* // phần JS */

.container .button{
    background: red;
}